<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         executionOrder="depends,defects"
         testdox="true"
         >

    <testsuites>
        <testsuite name="OnlyTests we are gona have here! (probably)">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="-1"/>
        <server name="APP_ENV" value="testing"/>
    </php>

</phpunit>

